/* - FONTS - */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");

/* - VARIABLES - */

/* -- TARGET SCREEN SIZES -- */
$mobile: 375px;
$desktop: 1440px;

/* -- COLORS -- */
$light-purple: hsl(254, 88%, 90%);
$dark-purple: hsl(256, 67%, 59%);
$light-yellow: hsl(31, 66%, 93%);
$dark-yellow: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

/* -- FONT SIZES -- */
$body: 1.125rem;

/* -- FONT WEIGHTS -- */
$normal: 400;
$semibold: 500;

/* -- FONT COLORS -- */

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------------------------------------------------------------------------------------------------- */

/* - RESETS - */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - TAGS - */
html {
  font-size: 16px;
}

body,
h1,
h2,
p {
  font-family: "DM Sans", serif;
}

h1,
h2 {
  font-weight: $semibold;
}

body,
p {
  font-size: $body;
}

image {
  max-width: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */

/* - LAYOUT - */

.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: $mobile;
  margin: 0 auto;
  padding: 2rem 1rem;
  border: 1px solid red;
}

header {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-purple;
  color: $white;
  border-radius: 12px;

  h1 {
    font-size: 48px;
    padding-bottom: 32px;
    text-align: center;
  }

  .highlight {
    color: $dark-yellow;
  }

  img {
    height: 2rem;
    margin-bottom: 1rem;
  }
}

.card {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 12px;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 23px;
    letter-spacing: 3%;
  }

  .card-text {
    font-size: $body;
    line-height: 23px;
  }
}

.manage-acc-card {
  padding: 1rem;
  background-color: white;

  img {
    width: 100%;
  }
}

.maintain-card {
  padding: 1rem 1rem 0;
  background-color: $dark-yellow;

  img {
    margin-bottom: -6px;
    width: 70%;
    height: auto;
  }
}

.schedule-card {
  padding: 1rem;
  background-color: $light-purple;

  img {
    padding-bottom: 1.5rem;
    width: 100%;
    height: auto;
  }

  .card-text {
    text-align: center;
  }
}

.grow-followers-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $dark-purple;

  img {
    padding-bottom: 2.5rem;
    width: 70%;
    height: auto;
  }

  .card-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 28px;
    padding: 0 1rem;
    text-align: center;
  }
}
