/* - FONTS - */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");
/* - VARIABLES - */
/* -- TARGET SCREEN SIZES -- */
/* -- COLORS -- */
/* -- FONT SIZES -- */
/* -- FONT WEIGHTS -- */
/* -- FONT COLORS -- */
.text-white {
  color: hsl(0, 0%, 100%);
}

.text-black {
  color: hsl(0, 0%, 7%);
}

.highlight-yellow {
  color: hsl(39, 100%, 71%);
}

.highlight-purple {
  color: hsl(256, 67%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* - RESETS - */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - TAGS - */
html {
  font-size: 16px;
}

body,
h1,
h2,
p {
  font-family: "DM Sans", serif;
}

h1,
h2 {
  font-weight: 500;
}

body,
p {
  font-size: 1.125rem;
}

image {
  max-width: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */
/* - LAYOUT - */
.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 375px;
  margin: 0 auto;
  padding: 2rem 1rem;
  border: 1px solid red;
}

header {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  border-radius: 12px;
}
header h1 {
  font-size: 48px;
  padding-bottom: 32px;
  text-align: center;
}
header img {
  height: 2rem;
  margin-bottom: 1rem;
}

.card {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 12px;
}
.card h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 23px;
  letter-spacing: 3%;
}
.card .card-text {
  font-size: 1.125rem;
  line-height: 23px;
}

.manage-acc-card {
  padding: 1rem;
  background-color: white;
}
.manage-acc-card img {
  width: 100%;
}

.maintain-card {
  padding: 1rem 1rem 0;
  background-color: hsl(39, 100%, 71%);
}
.maintain-card img {
  margin-bottom: -6px;
  width: 70%;
  height: auto;
}

.schedule-card {
  padding: 1rem;
  background-color: hsl(254, 88%, 90%);
}
.schedule-card img {
  padding-bottom: 1.5rem;
  width: 100%;
  height: auto;
}
.schedule-card .card-text {
  text-align: center;
}

.grow-followers-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: hsl(256, 67%, 59%);
}
.grow-followers-card img {
  padding-bottom: 2.5rem;
  width: 70%;
  height: auto;
}
.grow-followers-card .card-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 28px;
  padding: 0 1rem;
  text-align: center;
}

.faster-growth-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
}
.faster-growth-card .card-title {
  font-size: 2.75rem;
  margin-bottom: 1rem;
}
.faster-growth-card .card-text {
  margin-bottom: 1.5rem;
}
.faster-growth-card img {
  width: 60%;
}

.quicker-content-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: hsl(31, 66%, 93%);
}
.quicker-content-card .card-title {
  font-size: 2rem;
}
.quicker-content-card img {
  width: 60%;
}/*# sourceMappingURL=styles.css.map */